<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    首页 ：
	上传的文件列名要严格按照对应的格式，顺序要和模板的一致，可在首页右上角对文件模板进行下载
	文件名不可更改，文件导出来的时候文件名是什么就是什么，不要更改
例如
消费表文件名 格式 ：
PKT历史记录报表 2019年4月26日0时0分---2019年4月29日0时0分.xls
商务通表文件 格式 ：
账号名 + _  + 关键字 + _ + 日期
szydgc_关键词_2019-04-29.csv
	·选择日期
		2019-01-01 – 2019-01-01   这样是查询1号当天的
		2019-01-01 – 2019-01-02   这样是查询1号和2号的，以此类推
	只有点击查询周期后，等待(几秒)查询结果出现在页面下方时，方可点击下载按钮进行下载
文件管理 ：
	删除给文件名，即删除了该文件包含的数据，查询结果将不包含该文件数据

添加账号 ：
	肛肠和胃肠账号要分别添加，添加错误可进行删除，注意，账号名一定不能写错，否则不能上传该账号对应的文件


</body>
</html>